
img {
  object-fit: contain;
  height: 200px;
}

.topBar {
  color: white;
}

.card-body * {
  font-size: .75rem;
}

.card {
  height: 400px;
  margin-bottom: 15px;
}

.container {
  background-color: rgb(240, 238, 238);
}

.detailsImage {
  max-height: 320px;
  max-width: 245px;
}

.shoppingCart {
  margin-right: 63px;
  font-size: 1rem
}

.cartSummaryItem {
  background-color: white;
  border: solid 1px rgb(230, 220, 220);
}
